---
import Layout from "../layouts/Layout.astro";
import { AuthTemplate } from "../components/ui/templates/AuthTemplate";
import { ForgotPasswordForm } from "../components/ui/organisms/ForgotPasswordForm";
---

<Layout title="Recuperar contraseña | Manejate">
  <h1 class="sr-only">Recuperar tu contraseña de Manejate</h1>
  <AuthTemplate
    title="Recuperar contraseña"
    description="Te enviaremos un código de recuperación para que puedas volver a tomar el control."
    logoUrl={"/icon5.png"}
    client:only="react"
  >
    <ForgotPasswordForm client:load />
  </AuthTemplate>
</Layout>
