---
import Layout from "../layouts/Layout.astro";
import { AuthTemplate } from "../components/ui/templates/AuthTemplate";
import { ForgotPasswordForm } from "../components/ui/organisms/ForgotPasswordForm";
import { getImage } from "astro:assets";
import iconLogo from "../assets/icon5.png";

const optimizedLogo = await getImage({ src: iconLogo, format: 'webp', width: 200, height: 200 });
---

<Layout title="Recuperar contraseña | Manejate">
  <h1 class="sr-only">Recuperar tu contraseña de Manejate</h1>
  <AuthTemplate
    title="Recuperar contraseña"
    description="Te enviaremos un código de recuperación para que puedas volver a tomar el control."
    logoUrl={optimizedLogo.src}
    client:only="react"
  >
    <ForgotPasswordForm client:load />
  </AuthTemplate>
</Layout>
